pipeline/Bricks2_copy1.json
{
	"name": "Bricks2_copy1",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "arr",
					"value": {
						"value": "@createArray('1','2') ",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('arr')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "print_Hello",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "info",
									"value": "us_us_us"
								}
							],
							"typeProperties": {
								"notebookPath": "/Users/alina_parkhomenko@epam.com/test",
								"libraries": [
									{
										"jar": ""
									}
								]
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"arr": {
				"type": "Array"
			},
			"namee": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Bricks"
		},
		"annotations": []
	}
}