pipeline/first_Bulk_insert_copy1.json
{
	"name": "first_Bulk_insert_copy1",
	"properties": {
		"activities": [
			{
				"name": "Insert to cfgSubmissionInfo",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "localsqldb",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": "WITH datefield AS (\nSELECT GETDATE()-1 AS PD,\n    FORMAT((GETDATE()-1), 'yyyyMMdd', 'en-us') AS PD_ID\n    )\n\nINSERT INTO [dbo].[cfgSubmissionInfo] ( \n        [FileHandle]\n        ,[PostDate]\n        ,[PostDate_ID]\n        ,[FormatFileName]\n        ,[FormatFilePath]\n        ,[TableName]\n        ,[RawFileName]\n        ,[FilePath]\n        ,[AmountColumn]\n        ,[FirstRows]\n    )\nSELECT \n    1 AS FileHandle,\n    PD AS PostDate,\n    PD_ID AS PostDate_ID,\n    'formatF_7.txt' AS FormatFileName,\n    'C:\\Users\\Alina_Parkhomenko\\Desktop\\study\\BI__\\TASk_7' AS FormatFilePath,\n    '_rawATB' AS TableName,\n    CONCAT('Account_',MONTH(PD),'.',DAY(PD),'.',YEAR(PD),'.txt') AS RawFileName,\n    'C:\\Users\\Alina_Parkhomenko\\Desktop\\study\\BI__\\TASk_7' AS rawFilePath,\n    'CurrentBalance' AS AmountColumn,\n    2 AS FirstRows\nFROM datefield\nUNION ALL\nSELECT \n    2 AS FileHandle,\n    PD AS PostDate,\n    PD_ID AS PostDate_ID  ,\n    'formatF_7_txn_chr.txt' AS  FormatFileName,\n    'C:\\Users\\Alina_Parkhomenko\\Desktop\\study\\BI__\\TASk_7' AS FormatFilePath,\n    '_rawTXNS_CHGS' AS TableName,\n    CONCAT('Transaction-Charge__',MONTH(PD),'.',DAY(PD),'.',YEAR(PD),'.txt') AS RawFileName,\n    'C:\\Users\\Alina_Parkhomenko\\Desktop\\study\\BI__\\TASk_7' AS rawFilePath,\n    'TxnAmount' AS AmountColumn,\n    2 AS FirstRows\nFROM datefield;\n\n"
						}
					]
				}
			},
			{
				"name": "Send mail about Successed 1",
				"description": "Send mail about Successed Insert to cfgSubmissionInfo and started ETL Process.",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Insert to cfgSubmissionInfo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-36.northeurope.logic.azure.com:443/workflows/5e14d7532c934efb967b64d4eb6b97f9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=t_y49xgm25kdUxJeG10AAWU4nZDTCzeT6rbcRlnKpGQ",
					"method": "POST",
					"body": {
						"message": "ETL Process was started. This is a custom dynamic message from your pipeline with run ID @{pipeline().RunId}.",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}",
						"receiver": "@{pipeline().parameters.receiver}"
					}
				}
			},
			{
				"name": "Send mail about Fail 1",
				"description": "Send mail about Fail Insert to cfgSubmissionInfo",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Insert to cfgSubmissionInfo",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-36.northeurope.logic.azure.com:443/workflows/5e14d7532c934efb967b64d4eb6b97f9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=t_y49xgm25kdUxJeG10AAWU4nZDTCzeT6rbcRlnKpGQ",
					"method": "POST",
					"body": {
						"message": "This object was added earlier. ETL process didn't start. This is a custom dynamic message from your pipeline with run ID @{pipeline().RunId}.",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}",
						"receiver": "@{pipeline().parameters.receiver}"
					}
				}
			},
			{
				"name": "Send mail about Fail 2",
				"description": "Send mail about \"Fail\" Bulk insert procedure for Atb data",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-36.northeurope.logic.azure.com:443/workflows/5e14d7532c934efb967b64d4eb6b97f9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=t_y49xgm25kdUxJeG10AAWU4nZDTCzeT6rbcRlnKpGQ",
					"method": "POST",
					"body": {
						"message": "Bulk insert procedure for Atb data was FAILED. This is a custom dynamic message from your pipeline with run ID @{pipeline().RunId}.",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}",
						"receiver": "@{pipeline().parameters.receiver}"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup for Atb_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup for Atb_copy1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "AmountColumn",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "AmountColumn",
								"value": {
									"value": "@string(activity('Lookup1').output.firstrow.AmountColumn)\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Check_Existence",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Check_Existence",
								"value": {
									"value": "@string(activity('Lookup1').output.firstrow.Check_Existence)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ClearTable",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ClearTable",
								"value": {
									"value": "@string(activity('Lookup1').output.firstrow.ClearTable)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "FileHandle",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FileHandle",
								"value": {
									"value": "@string(activity('Lookup1').output.firstrow.FileHandle)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "FirstRow",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FirstRow",
								"value": {
									"value": "@string(activity('Lookup1').output.firstrow.FirstRows)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "FormatFilePath",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FormatFilePath",
								"value": {
									"value": "@string(activity('Lookup1').output.firstrow.FormatFilePath)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "FormatFileName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FormatFileName",
								"value": {
									"value": "@string(activity('Lookup1').output.firstrow.FormatFileName)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "PostDate",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "PostDate",
								"value": {
									"value": "@string(activity('Lookup1').output.firstrow.PostDate_ID)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "RawFileName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "RawFileName",
								"value": {
									"value": "@string(activity('Lookup1').output.firstrow.RawFileName)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "RawFilePath",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "RawFilePath",
								"value": {
									"value": "@string(activity('Lookup1').output.firstrow.FilePath)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "RawTableName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "RawTableName",
								"value": {
									"value": "@string(activity('Lookup1').output.firstrow.TableName)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Bulk insert for Atb_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "AmountColumn",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Check_Existence",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "ClearTable",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "FileHandle",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "FirstRow",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "FormatFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "FormatFilePath",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "PostDate",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "RawFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "RawFilePath",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "RawTableName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_BULK]",
								"storedProcedureParameters": {
									"AmountColumn": {
										"value": {
											"value": "@variables('AmountColumn')",
											"type": "Expression"
										},
										"type": "String"
									},
									"Check_Existence": {
										"value": {
											"value": "@variables('Check_Existence')",
											"type": "Expression"
										},
										"type": "Byte[]"
									},
									"ClearTable": {
										"value": {
											"value": "@variables('ClearTable')",
											"type": "Expression"
										},
										"type": "Byte[]"
									},
									"FileHandle": {
										"value": {
											"value": "@variables('FileHandle')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"FirstRow": {
										"value": {
											"value": "@variables('FirstRow')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"FormatFileName": {
										"value": {
											"value": "@variables('FormatFileName')",
											"type": "Expression"
										},
										"type": "String"
									},
									"FormatFilePath": {
										"value": {
											"value": "@variables('FormatFilePath')",
											"type": "Expression"
										},
										"type": "String"
									},
									"PostDate": {
										"value": {
											"value": "@variables('PostDate')",
											"type": "Expression"
										},
										"type": "String"
									},
									"RawFileName": {
										"value": {
											"value": "@variables('RawFileName')",
											"type": "Expression"
										},
										"type": "String"
									},
									"RawFilePath": {
										"value": {
											"value": "@variables('RawFilePath')",
											"type": "Expression"
										},
										"type": "String"
									},
									"RawTableName": {
										"value": {
											"value": "@variables('RawTableName')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "localsqldb",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Lookup1",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "Select * from dbo.cfgSubmissionInfo",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SqlServerTable1",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						}
					]
				}
			},
			{
				"name": "Lookup for Atb_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Send mail about Successed 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT 1\n\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"receiver": {
				"type": "string",
				"defaultValue": "alina_parkhomenko@epam.com"
			}
		},
		"variables": {
			"AmountColumn": {
				"type": "String"
			},
			"Check_Existence": {
				"type": "String"
			},
			"ClearTable": {
				"type": "String"
			},
			"FileHandle": {
				"type": "String"
			},
			"FirstRow": {
				"type": "String"
			},
			"FormatFileName": {
				"type": "String"
			},
			"FormatFilePath": {
				"type": "String"
			},
			"PostDate": {
				"type": "String"
			},
			"RawFileName": {
				"type": "String"
			},
			"RawFilePath": {
				"type": "String"
			},
			"RawTableName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ETL"
		},
		"annotations": []
	}
}