pipeline/first_Bulk_insert_copy1.json
{
	"name": "first_Bulk_insert_copy1",
	"properties": {
		"activities": [
			{
				"name": "Send mail about Fail 2",
				"description": "Send mail about \"Fail\" Bulk insert procedure for Atb data",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-36.northeurope.logic.azure.com:443/workflows/5e14d7532c934efb967b64d4eb6b97f9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=t_y49xgm25kdUxJeG10AAWU4nZDTCzeT6rbcRlnKpGQ",
					"method": "POST",
					"body": {
						"message": "Bulk insert procedure for Atb data was FAILED. This is a custom dynamic message from your pipeline with run ID @{pipeline().RunId}.",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}",
						"receiver": "@{pipeline().parameters.receiver}"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup for Atb_copy1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Bulk insert for Atb_copy1_copy1_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_BULK]",
								"storedProcedureParameters": {
									"AmountColumn": {
										"value": {
											"value": "@activity('Lookup1').output.AmountColumn",
											"type": "Expression"
										},
										"type": "String"
									},
									"Check_Existence": {
										"value": {
											"value": "@activity('Lookup1').output.Check_Existence",
											"type": "Expression"
										},
										"type": "Byte[]"
									},
									"ClearTable": {
										"value": {
											"value": "@activity('Lookup1').output.ClearTable",
											"type": "Expression"
										},
										"type": "Byte[]"
									},
									"FileHandle": {
										"value": {
											"value": "@activity('Lookup1').output.FileHandle",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"FirstRow": {
										"value": {
											"value": "@activity('Lookup1').output.FirstRows",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"FormatFileName": {
										"value": {
											"value": "@activity('Lookup1').output.FormatFileName",
											"type": "Expression"
										},
										"type": "String"
									},
									"FormatFilePath": {
										"value": {
											"value": "@activity('Lookup1').output.FormatFilePath",
											"type": "Expression"
										},
										"type": "String"
									},
									"PostDate": {
										"value": {
											"value": "@activity('Lookup1').output.PostDate",
											"type": "Expression"
										},
										"type": "String"
									},
									"RawFileName": {
										"value": {
											"value": "@activity('Lookup1').output.RawFileName",
											"type": "Expression"
										},
										"type": "String"
									},
									"RawFilePath": {
										"value": {
											"value": "@activity('Lookup1').output.FilePath",
											"type": "Expression"
										},
										"type": "String"
									},
									"RawTableName": {
										"value": {
											"value": "@activity('Lookup1').output.TableName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "localsqldb",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT * from [dbo].[cfgSubmissionInfo]\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"receiver": {
				"type": "string",
				"defaultValue": "alina_parkhomenko@epam.com"
			}
		},
		"folder": {
			"name": "ETL"
		},
		"annotations": []
	}
}