pipeline/orch-unstatic-extract.json
{
	"name": "orch-unstatic-extract",
	"properties": {
		"activities": [
			{
				"name": "SP Create",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[pipelineExecutiHistiry_Create]",
					"storedProcedureParameters": {
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "unstatisticdbaparklinkedservice",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP Update",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "unstatic-extract_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[pipelineExecutiHistiry_Update]",
					"storedProcedureParameters": {
						"Description": {
							"value": {
								"value": "@variables('PipelineExecDescription')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": {
								"value": "@variables('PipelineExecStatus')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "unstatisticdbaparklinkedservice",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "unstatic-extract",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SP Create",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "unstatic-extract",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "unstatic-extract_lookup",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "unstatic-extract",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "unstatic-extract_lookup",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Fail unstatic-extract",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "unstatic-extract",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Pipeline unstatic-extract Failed",
					"errorCode": "101"
				}
			}
		],
		"variables": {
			"PipelineExecDescription": {
				"type": "String",
				"defaultValue": "succeed"
			},
			"PipelineExecStatus": {
				"type": "String",
				"defaultValue": "succeed"
			}
		},
		"folder": {
			"name": "unstatistic"
		},
		"annotations": [
			"extract"
		]
	}
}