pipeline/pipeline_upload_files_dataset.json
{
	"name": "pipeline_upload_files_dataset",
	"properties": {
		"activities": [
			{
				"name": "lkp_databases",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * From [meta].[etl_nfield_databases]\nwhere IsEnabled=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_meta_databases",
						"type": "DatasetReference",
						"parameters": {
							"Name": {
								"value": "@pipeline().parameters.Name",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "lp_fe_databases",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkp_databases",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_databases').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Ex_pipelin_t1_pipeline_upload_files_tables",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipeline_upload_files_tables",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Name": {
										"value": "@item().Name",
										"type": "Expression"
									},
									"Container": {
										"value": "@item().Container",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Name": {
				"type": "string",
				"defaultValue": "Nfield-US"
			}
		},
		"variables": {
			"startdate": {
				"type": "Array"
			},
			"startday": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "for KGND"
		},
		"annotations": []
	}
}