pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_BULK]",
					"storedProcedureParameters": {
						"AmountColumn": {
							"value": {
								"value": "@activity('Lookup1').output.AmountColumn",
								"type": "Expression"
							},
							"type": "String"
						},
						"Check_Existence": {
							"value": {
								"value": "@activity('Lookup1').output.Check_Existence",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"ClearTable": {
							"value": {
								"value": "@activity('Lookup1').output.ClearTable",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"FileHandle": {
							"value": {
								"value": "@activity('Lookup1').output.ClearTable",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"FirstRow": {
							"value": {
								"value": "@activity('Lookup1').output.FirstRow",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"FormatFileName": {
							"value": {
								"value": "@activity('Lookup1').output.FormatFileName",
								"type": "Expression"
							},
							"type": "String"
						},
						"FormatFilePath": {
							"value": {
								"value": "@activity('Lookup1').output.FormatFilePath",
								"type": "Expression"
							},
							"type": "String"
						},
						"PostDate": {
							"value": {
								"value": "@activity('Lookup1').output.PostDate",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"RawFileName": {
							"value": {
								"value": "@activity('Lookup1').output.RawFileName",
								"type": "Expression"
							},
							"type": "String"
						},
						"RawFilePath": {
							"value": {
								"value": "@activity('Lookup1').output.RawFilePath",
								"type": "Expression"
							},
							"type": "String"
						},
						"RawTableName": {
							"value": {
								"value": "@activity('Lookup1').output.RawTableName",
								"type": "Expression"
							},
							"type": "String"
						},
						"RemoveLastRow": {
							"value": {
								"value": "@activity('Lookup1').output.RemoveLastRow",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "localsqldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select * from [dbo].[cfgSubmissionInfo] where [FileHandle]=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": []
	}
}