pipeline/t1_pipeline_upload_files.json
{
	"name": "t1_pipeline_upload_files",
	"properties": {
		"activities": [
			{
				"name": "copy_data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lkp_metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@activity('lkp_metadata1').output.value.Query",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_meta_metadata",
						"type": "DatasetReference",
						"parameters": {
							"Name": {
								"value": "@pipeline().parameters.Name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "filename",
						"type": "DatasetReference",
						"parameters": {
							"folder": {
								"value": "@activity('lkp_metadata1').output.value.Entity",
								"type": "Expression"
							},
							"filename": {
								"value": "@concat(activity('lkp_metadata1').output.value.filedate,'.parquet')",
								"type": "Expression"
							},
							"Container": {
								"value": "@pipeline().parameters.Container",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "lkp_metadata1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select *, Getdate() as filedate from meta.etl_nfield_metadata where  IsEnabled=1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_meta_metadata",
						"type": "DatasetReference",
						"parameters": {
							"Name": {
								"value": "@pipeline().parameters.Name",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"Name": {
				"type": "string"
			},
			"Container": {
				"type": "string"
			}
		},
		"folder": {
			"name": "for KGND"
		},
		"annotations": []
	}
}