pipeline/t1_pipeline_upload_files.json
{
	"name": "t1_pipeline_upload_files",
	"properties": {
		"activities": [
			{
				"name": "Lookup2_copy1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_meta_metadata",
						"type": "DatasetReference",
						"parameters": {
							"Name": {
								"value": "@pipeline().parameters.Name",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy data1_copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup2_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@activity('Lookup2').output.value.Query",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				},
				"outputs": [
					{
						"referenceName": "filename",
						"type": "DatasetReference",
						"parameters": {
							"Name": {
								"value": "@item().Name",
								"type": "Expression"
							},
							"filename": {
								"value": "@concat(activity('Lookup2').output.value.ID,'.parquet')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"Name": {
				"type": "string"
			}
		},
		"folder": {
			"name": "for KGND"
		},
		"annotations": []
	}
}